@media only screen and (min-width: 992px) {
/* For desktop: */
    nav ul li a {
        color: gray;
        padding: 5px;
    }
    nav ul {
        background-color: white;
        padding: 2% 10% 2% 10%;
        
    }
    #banner {
        position: relative;
        margin: 0% 5% 0% 5%;
        z-index: 1;
    }
    #banner img {
        display: unset;
        width: 100%;
        
    }
    #banner h1 {
        position: absolute;
        z-index: 2;
        top: 100px;
        color: white;
        font-family: garamond;
        font-weight: 700;
    }
    #banner p {
        position: absolute;
        z-index: 2;
        top: 150px;
        color: white;
        border: hidden;
    }
    #content {
        background-color: #E4E4E4;
        margin: -5px 5% 0% 5%;
        padding-top: 5%;
    }
    #content h2 {
        
        font-size: 30px;
        font-weight: 600;
    }
    .col-4 {
        width: 33.33%;
        float: left;
        padding-right:1%;
    }
    footer h4 {
        font-weight: 600;
        text-shadow: none;
    }
    footer {
        background-color: #F0F0F0;
        padding: 2% 5% 2% 5%;
    }
}